@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>

<h4>Edit this Client: @Html.DisplayFor(model => model.ClientDetails)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model =>  model.ClientName, new {@class = "labelcolor"})
  @Html.EditorFor(model => model.ClientName)

  @Html.LabelFor(model => model.ClientDetails, new {@class = "labelcolor"})
  @Html.TextBoxFor(model => model.ClientDetails)

  @Html.LabelFor(model => model.Stylist, new {@class = "labelcolor"})
  @Html.DropDownList("StylistId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to client list", "Index")</p>